.modal {
    --primary: rgb(34, 132, 189);
    --textColor: #fff;
    --bgColor: rgba(5, 5, 5, 0.85);
    --modalWidth: 20.83vw ; /* 400px; */
    --titleSize: 0.93vw; /* 18px; */
    --textSize: 0.83vw; /* 16px; */
    --btnTxtSize: 0.83vw; /* 16px; */
    --fontText: 'Roboto', sans-serif;
    
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: var(--fontText);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.35s ease-in-out;
    pointer-events: none;
}
   
.modal-content {
    width: var(--modalWidth);
    background-color: var(--bgColor);
    color: var(--textColor);
    transition: all 0.35s ease-in-out;
    transform: translateY(-360px);
    border: 2px solid var(--primary); 
    border-radius: 10px;
    text-align: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
}

.modal.enter-done {
    opacity: 1;
    pointer-events: visible;
}
  
.modal.enter-done .modal-content {
    transform: translateY(0);
}

.modal-header {
    padding: 15px 10px 10px 10px;
}

.modal-title {
    
    margin: 0;
    font-size: var(--titleSize);
}

.modal-title i {
    color: var(--primary);
    margin-right: 10px;
}
  
.modal-body {
    font-size: var(--textSize);
    margin: 0 10px;
    border-top: 1px solid var(--primary);
}

.modal-footer {
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
}

.modal-footer button {
    font-size: var(--btnTxtSize);
    font-family: var(--fontText);
    font-weight: 500;
    background-color: transparent;
    color: var(--textColor);
    border: 1px solid var(--primary);
    border-radius: 7px;
    padding: 10px;
    margin: 0px 15px 0px 15px;
}

.modal-footer button:hover {
    text-decoration: underline;
    text-decoration-color: var(--primary);
    text-underline-offset: 3px;
    box-shadow:  0px 0px 10px var(--primary);
}

button i {
    color: var(--primary);
    margin-right: 5px;
}
